[[source]]
name = "dqn"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
gym = {extras = ["atari"],version = "*"}
numpy = "*"
pandas = "*"
tensorflow = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"

[scripts]
train-cartpole = "python -m  trainer.task_cartpole"
train-metaltile = "python -m  trainer.task_metaltile"
train-metaltile-cloud = "bash scripts/metaltile_cloud.sh"
